body {
  background-color: #cfcfcf;
}

body h1 {
  color: #444444;
}

#information {
  color: #838383;
}

.application {
  display: flex;
  flex-direction: row;
}

@media (max-width: 700px) {
  .application {
    display: flex;
    flex-direction: column;
  }
}

.application article {
  flex-grow: 5;
  border: 1px solid #444444;
}

.application aside {
  border: 1px solid #939393;
  flex-grow: 2;
}
